/* RESET, Used to reduce browser inconsistancies (leave it as is) */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*END of RESET*/

body {
    margin: 0 0 0 1%;
    padding: 0px;
    background: #EEEEEE;
    font-family: 'News Cycle', sans-serif;
    font-size: 10pt;
    font-weight: 300;
    color: #000;
    text-align: left;
    line-height: 15pt;
}

h1 {
    margin: 1% 0;
    padding: 0;
    font-size: 13pt;
    font-weight: 900;
    color: #2B3F48;
    text-align: center;
    text-shadow: 3px 4px 2px rgba(150, 150, 150, 0.54);
}

h2 {
    margin: 1% 0;
    padding: 0;
    font-size: 11pt;
    font-weight: 600;
    color: #2B3F48;
    text-shadow: 3px 4px 2px rgba(150, 150, 150, 0.54);
}

h3 {
    margin: 1% 0 0 0;
    padding: 0 0 5px 0;
    text-shadow: 3px 4px 2px rgba(150, 150, 150, 0.54);
}

span .desc{
    padding: 0 0 0 1%
    display: block;
}

.desc_label{
    padding: 0 0 0 1%
    display: block;
}
p, ol, ul {
    margin-top: 0;
}

ol, ul {
    padding: 0 0 0 2% ;
    list-style: circle;
}

p {
    inline-box-align: initial;
}


/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

.logo {
    display: block;
    width: 57pt;
    margin: 0 0 0 47%;
}
